# See https://help.github.com/ignore-files/ for more about ignoring files.

#IDEs
.idea/

# dependencies
/node_modules
/functions/node_modules

# testing
/coverage

# production
/bin/*

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.log
todo.md

service-account-credentials.json

tools/