{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "semi": true,
        "printWidth": 120
      }
    }
  ]
}
