
/* Space out content a bit */
html,
body,
#root,
.app,
.container{
    height: 100%;
}

.app .container{
    display: flex;
    flex-flow: column;
}
.app .container .content{
    flex: 1 0 auto;
}

body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header .logo{
    background: url(./logo.png) no-repeat left center;
    background-size: contain;
    padding-left: 2.5em;
    height: 2em;
    line-height: 2em;
}

.header,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

/* Custom page header */
.header {
    border-bottom: .05rem solid #e5e5e5;
}
/* Custom page footer */
.footer {
    margin-top: 1rem;
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}
.modal.show .modal-dialog{
    z-index: 1100;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 2rem;
    }
}


.single-number input{
    width: 100px;
}
.single-number-admin input{
    width: 100%;
}
.user-control span > p {
    margin: 0;
}

.exercise-list-table .action-column{
    width: 12em;
}
.exercise-list-table .grade-column{
    width: 7em;
}
.jumbotron{
    background: transparent;
}

.markdown {
    width: 100%;
}