.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 10;

  margin-bottom: 2rem;

  .container {
    border-bottom: 0.05rem solid #e5e5e5;
    padding: 0.5rem 1rem;
  }

  .logo-link{
    margin: 0.3rem;
    .logo {
      background: url('/assets/logo.png') no-repeat left center;
      background-size: contain;
      width: 3rem;
      height: 3rem;
    }
  }

  .mobile-header,
  .desktop-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .desktop-header {
    display: none;
    .user-menu {
      .dropdown-menu {
        position: absolute;
        transform: translate3d(-80px, 44px, 0px);
        top: 0;
        left: 0;
        will-change: transform;
      }
    }
    .dropdown-menu {
      top: 85%;
    }
  }

  .mobile-header {
    display: flex;
    .logo {
      height: 2.5rem;
    }
  }
}

@media (min-width: 48em) {
  .header {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .header {
    .desktop-header {
      display: flex;
    }
    .mobile-header {
      display: none;
    }
  }
}
