.exercise-form {
  min-height: 100vh;
  margin-bottom: -1rem;
  .exercise-details {
    margin-top: 2rem;
  }

  .main-controls {
    top: 58px;
    position: sticky;
    background: white;
    box-shadow: 0 7px 7px -7px black;
    z-index: 1;

    & > div {
      padding: 0.5rem 0;
    }
  }
}
