.page-register {
  display: flex;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background: var(--light);

  form {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
  }
}
