@import '~bootstrap/scss/bootstrap';

.exercise-page {
  .user-control-row .user-control {
    width: 100%;
  }

  .exercise-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3rem;
    background: white;
    box-shadow: 0 0 2rem 1rem white;
    z-index: 10;
    .close {
      font-size: 2.5rem;
    }
  }

  .exercise-body {
    padding-top: 2rem;
    padding-bottom: 50vh;
    .hints {
      border-left: 1px solid $gray-400;
      margin-left: 1rem;
      padding-left: 1rem;
      font-size: 0.8rem;
    }

    .exercise-sub-task.finished {
      @extend .text-muted;
      img {
        opacity: 0.5;
      }
    }
  }

  .exercise-footer {
    position: fixed;
    bottom: 0;
    height: 5rem;
    width: 100%;
    left: 0;
    background: theme-color-level("secondary", $alert-bg-level);
    box-shadow: 0 0 2rem 1rem white;
    z-index: 10;

    .container {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .btn {
      width: 100%;
    }
  }

  .exercise-result {
    background: theme-color-level("success", $alert-bg-level);
    position: fixed;
    bottom: 0;
    height: 25%;
    min-height: 11rem;
    width: 100%;
    left: 0;
    box-shadow: 0 0 2rem 1rem white;
    z-index: 10;

    .container {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .btn {
      width: 100%;
    }
  }

  @media (min-width: map-get($grid-breakpoints, 'md')) {
    .sub-task-index {
      text-align: center;
    }
  }

  @media (min-width: map-get($grid-breakpoints, 'lg')) {
    .exercise-header {
      height: 4rem;
    }

    .exercise-body {
      padding-top: 3rem;
    }

    .exercise-footer {
      height: 8rem;
      .container {
        flex-direction: row;
        .btn {
          flex: 0 0;
        }
      }
    }
  }
}
